
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderSuccess</h2>
<h2>Please click to here @Html.ActionLink("Home", "Index", "Home") to go to home page.</h2>

